* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Màu sắc chủ đạo */
  --color-background: #1a0000;
  /* Màu đỏ đậm */
  --color-primary: #ff4500;
  /* Màu cam đậm */
  --color-secondary: #8b0000;
  /* Màu đỏ thẫm */
  --color-text: #ffffff;
  /* Màu trắng */
  --color-accent: #ff6347;
  /* Màu cà chua */

  /* Các màu bổ trợ */
  --color-border: #660000;
  /* Màu viền đậm */
  --color-hover: #ff7f50;
  /* Màu khi di chuột */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  height: 100vh;
}
